xterm*faceName: FiraCode Nerd Font
xterm*faceSize: 14
xterm*geometry: 80x25
*scrollBar: 0
*saveLines: 12288
*scrollTtyOutput: false
*scrollWithBuffer: true
xterm*rightScrollBar: true

*scrollTtyKeypress: true
*selectToClipboard: true
xterm*utf8: true
xterm*locale: true

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

!Theme Ten
!from web.archive.org/web/20090130061234/http://phraktured.net/terminal-colors
!*background: rgb:1a/1a/1a
!*foreground: rgb:d6/d6/d6
!*color0:     rgb:00/00/00
!*color1:     rgb:98/56/5e
!*color2:     rgb:66/82/5d
!*color3:     rgb:96/91/76
!*color4:     rgb:4d/65/85
!*color5:     rgb:96/73/95
!*color6:     rgb:5f/7f/7b
!*color7:     rgb:b3/b3/b3
!*color8:     rgb:73/73/73
!*color9:     rgb:cf/a3/a9
!*color10:    rgb:ca/f7/bb
!*color11:    rgb:ff/f8/bc
!*color12:    rgb:83/a3/be
!*color13:    rgb:bb/a9/cf
!*color14:    rgb:96/cc/cc
!*color15:    rgb:ff/ff/ff

! Tender color scheme, made by jacoborus
! adapted by Jose Esparza
! https://github.com/pebeto/tender-xresources/blob/master/.Xresources

! special
xterm*foreground:   #eeeeee
xterm*background:   #282828
xterm*cursorColor:  #eeeeee

! black
xterm*color0:       #282828
xterm*color8:       #4c4c4c

! red
xterm*color1:       #f43753
xterm*color9:       #f43753

! green
xterm*color2:       #c9d05c
xterm*color10:      #c9d05c

! yellow
xterm*color3:       #ffc24b
xterm*color11:      #ffc24b

! blue
xterm*color4:       #b3deef
xterm*color12:      #b3deef

! magenta
xterm*color5:       #d3b987
xterm*color13:      #d3b987

! cyan
xterm*color6:       #73cef4
xterm*color14:      #73cef4

! white
xterm*color7:       #eeeeee
xterm*color15:      #feffff
