xterm*faceName: Roboto Mono for Powerline
xterm*faceSize: 14
xterm*geometry: 80x25
*scrollBar: 1
*saveLines: 4096
*scrollTtyOutput: false
*scrollWithBuffer: true
*scrollTtyKeypress: true
*selectToClipboard: true

!Theme Ten
!from web.archive.org/web/20090130061234/http://phraktured.net/terminal-colors
*background: rgb:1a/1a/1a
*foreground: rgb:d6/d6/d6
*color0:     rgb:00/00/00
*color1:     rgb:98/56/5e
*color2:     rgb:66/82/5d
*color3:     rgb:96/91/76
*color4:     rgb:4d/65/85
*color5:     rgb:96/73/95
*color6:     rgb:5f/7f/7b
*color7:     rgb:b3/b3/b3
*color8:     rgb:73/73/73
*color9:     rgb:cf/a3/a9
*color10:    rgb:ca/f7/bb
*color11:    rgb:ff/f8/bc
*color12:    rgb:83/a3/be
*color13:    rgb:bb/a9/cf
*color14:    rgb:96/cc/cc
*color15:    rgb:ff/ff/ff

